@import 'shape';

@mixin skew($deg){
    -webkit-transform:skew($deg);  
    -moz-transform:skew($deg);  
    -o-transform:skew($deg);  
    transform:skew($deg);  
}

@mixin scale($x,$y){
    -webkit-transform:scale($x,$y);  
    -moz-transform:scale($x,$y);  
    -o-transform:scale($x,$y);  
    transform:scale($x,$y);  
}

@mixin rotate($deg){
    -webkit-transform:rotate($deg);  
    -moz-transform:rotate($deg);  
    -o-transform:rotate($deg);  
    transform:rotate($deg);  
}

@mixin translate($x,$y){
    -webkit-transform:translate($x,$y);  
    -moz-transform:translate($x,$y);  
    -o-transform:translate($x,$y);  
    transform:translate($x,$y);  
}



#skew {
    @include skew(5deg);   
}

#rotate {
    @include rotate(5deg);
}

#scale {
    @include scale(1,0.5);
}

#translate {
    @include translate(10px, 20px);
}
